* {
    background-color: #53fcfc;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

a {
    font-family: cursive;
    display: inline-block;
    margin: auto 2px;
    padding: 2px 5px;
    border: 1px solid black;
}